@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}

.container {
  min-width: 280px;
  max-width: 940px;
  margin: 0 auto;
}

.site-header {
  position: relative;
  min-width: 280px;
  width: 100%;
  height: 540px;
}

.site-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  padding-top: 20px;
  height: 200px;
}

.site-nav a {
  font-family: Montserrat, Arial, sans-serif;
  /* font-size: 14px; */
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.site-logo {
  display: block;
  font-size: 20px;
}

.site-menu {
  display: flex;
  list-style: none;
}

.login,
.signup {
  display: block;
  width: 90px;
  line-height: 36px;
  text-align: center;
  border: 2px solid transparent;
}

.login:hover,
.login:focus,
.signup:hover,
.signup:focus {
  border: 2px solid #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

.signup {
}

.site-slogan {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  /* padding: 20px 0; */
}

.site-slogan-desc {
  font-size: 18px;
  font-family: "Roboto";
  color: #fff;
  text-align: center;
  /* padding: 0 50px; */
  margin-bottom: 20px;
}

.search-link {
  display: block;
  margin: 0 auto;
  width: 280px;
  line-height: 40px;
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #ff4e50;
  border-radius: 20px;
}

.load-more-btn {
  background-color: #fff;
  border: 2px solid #ff4e50;
  color: #ff4e50;
  line-height: 40px;
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  border-radius: 20px;
  cursor: pointer;
  padding: 0 30px;
  display: block;
  margin: 0 auto;
}

.partners-section {
  padding-bottom: 30px;
}

.partners-title {
  padding-top: 65px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 30px;
  box-sizing: content-box;
}

.partners-item {
  text-align: center;
  width: 220px;
}

.partner-link {
  display: block;
  text-decoration: none;
  /* cursor: pointer; */
}

/* .partners-item:not(:last-child) {
  margin-bottom: 30px;
} */

.photo-wrapper {
  position: relative;
  width: 120px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  /* margin-bottom: 20px; */
}

.partner-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.photo-wrapper::after {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 40px;
  height: 40px;
  content: "";
  border-radius: 50%;
  border: 4px solid #fff;
}

.partners-item:nth-child(1) .photo-wrapper::after {
  background: url("../img/partners-icons/tv-icon.svg") #ff4e50 no-repeat center;
}

.partners-item:nth-child(2) .photo-wrapper::after {
  background: url("../img/partners-icons/bottle-icon.svg") #ffa507 no-repeat
    center;
}

.partners-item:nth-child(3) .photo-wrapper::after {
  background: url("../img/partners-icons/cup-icon.svg") #1cd7ad no-repeat center;
}

.partners-item:nth-child(4) .photo-wrapper::after {
  background: url("../img/partners-icons/paper-airplane-icon.svg") #4e73db
    no-repeat center;
}

.partner-name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #333;
  padding: 20px 0;
}

.partner-about {
  color: #666;
  /* padding: 0 50px; */
}

/* .Rectangle_1 {
    background-color: rgb(26, 25, 21);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 700px;
    z-index: 42;
  }
   */
