@media (max-width: 767px) {
  .container {
    max-width: 320px;
  }

  .header-wrapper {
    background: linear-gradient(rgba(26, 25, 21, 0.2), rgba(26, 25, 21, 0.2)),
      url("../img/header-bg-320px.jpg") no-repeat;
    background-size: cover;
  }

  .logo-wrapper{
    order:1;
  }

  .site-nav {
    padding: 30px 0;
    min-height: 200px;
  }

  .site-slogan-desc {
    margin: 0 auto;
    padding: 20px 30px;
    font-size: 18px;
  }

  .partners-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .header-wrapper {
    min-height: 700px;
  }

  .site-slogan {
    margin: 0;
    font-size: 52px;
  }

  .site-slogan-desc {
    margin: 0 auto;
    padding: 30px 0;
    font-size: 24px;
  }

  .site-nav {
    box-sizing: content-box;
    min-height: 114px;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    padding-bottom: 100px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  
  .header-wrapper {
    background: linear-gradient(rgba(26, 25, 21, 0.2), rgba(26, 25, 21, 0.2)),
      url("../img/header-bg-768px.jpg") no-repeat;
    background-size: cover;
  }

   .partners-item {
    margin-bottom: 50px;
  }

  .partners-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  } 

}

@media (min-width: 992px) {
  .header-wrapper {
    background: linear-gradient(rgba(26, 25, 21, 0.2), rgba(26, 25, 21, 0.2)),
      url("../img/header-bg-1440px.jpg") no-repeat;
    background-size: cover;
  }
  .partner-about {
    padding: 0;
  }
}